* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.jogos-lista {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* overflow-y: scroll; */
  /* background-color: red; */
}

.jogos-lista .jogos-titulo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  width: 80%;
  margin: 1rem auto;
  background: #1a1a1a;
}

.jogos-lista .jogos-titulo h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: capitalize;
}

.jogos-lista .jogos-titulo p {
  color: #ccc;
  /* width: 30ch; */
  margin-top: 1rem;
  font-size: 1.2rem;
}

.jogos-lista .jogos-titulo .info-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.jogos-lista .jogos-titulo .info-image img {
  display: block;
  width: 100%;
  max-width: 110px;
  align-self: flex-end;
}

.jogos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-flow: row-reverse;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  position: relative;
}

.jogos-container .jogo {
  max-width: 380px;
  position: relative;
}

.jogos-container .jogo:last-child::after {
  content: url(../images/new.png);
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: -22px;
  left: -8px;
}

.jogos-container .jogo a img {
  display: block;
  width: 350px;
  height: 180px;
  object-fit: cover;
  object-position: left bottom;
}

.jogos-container .jogo a:hover p {
  padding: 1.3rem;
}

.jogos-container .jogo p {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 1.7rem;
  padding: 1rem;
  background: #1a1a1a;
  color: #ea36fb;
  border-radius: 10px 0 0 0;
  transition: all 0.2s linear;
}
