main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(15, 116, 196, 0.9);
    font-size: 1.2em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d; /* preservar um corpotamento de 3d */
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid rgba(15, 116, 196, 1);
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;      
    background-color: rgba(15, 116, 196, 1);
    transition:  all 400ms ease;
}

.front{
    transform: rotateY(180deg);
}

.back{
    background-image: url('../images/bleach.png');
    backface-visibility: hidden; /* escoder a parte de tras do elemento */
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}